/* @import ; */
@font-face {
  font-family: "Light";   /*Can be any text*/
  src: local("AirbnbCerealLight"),
  url("./assets/MontserratFont_wght.ttf") format("truetype");
}
* {
  font-family: "Light" !important;
}
body {
  margin: 0;
  font-family: "Light" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo-image {
  height: 8vh;
  width: 10vw;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
